    Requirements for virtual environment running this code:
    - create a secret_data.py following secret_data_example.py
	- fill the client_key and client_secret
    - download and import requests_oauthlib library 
    - import webbrowser library
    - import json library
    - from datetime import date time
    - download and import BeautifulSoup if you want to have more operations
